@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');

:root {
    font-family: 'Playfair Display', serif;
    --background-color: black;
    --font-color: white;
}

body{
    background-color: var(--background-color);
    color: var(--font-color);
}

div {
    text-align: center;
}

input {
    padding: 0.5rem 0.5rem;
    font-size: large;
}

button {
    background-color: white;
    color: black;
    font-size: large;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
}